# ignore everything
*

# include git files
!.gitignore

# include chocolatey files
!dependencies.config

# include github files
!./.github/**/*

# include documentation
!README.md

# include source files
!Main.java
